* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER LOGO*/
.logo {
  border: 4px solid gray;
  width: 80px;
  height: 80px;
  position: relative;
  top: 10px;
  left: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.logo-image {
  width: 80px;
  height: 80px;
}

.navbar {
  background: transparent !important;
  padding-top: 100px;
  padding-bottom: 30px;
  z-index: 1;
}

.nav-link {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: #fff;
  min-width: 88px;
  padding: 0 16px;
  border-radius: 2px;
  text-align: center;
} 

.nav-link:hover {
  background: #6c757d;
  color: #f4f4f4;
  cursor: pointer;
  border: none;
} 
/*
.hero-link:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #8b0000;
  cursor: pointer;
  border: none;
} */

.hero {
  height: 100vh;
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/*  background: #8E0E00; */ /* fallback for old browsers */
/*  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  *//* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to right, #1F1C18, #8E0E00);*//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero-heading {
  color: #fff;
  margin: 100px auto;
  text-align: left;
  position: relative;
  left: 200px;
  font-family: 'Roboto', sans-serif;
  padding: 0 8px;
  max-width: 300px;
  width: 100%;
  z-index: 5;
}

/*
h1  {
  font-size: 60px !important;
}*/

  #252c41 = black
  #f4f5f9 = white
  #dddfe6 = gray
  #f1404b = red
}

